.titulo {
    color: #000000; /* Texto blanco */
    padding: 20px;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.textos1 {
    color: #000000; /* Texto blanco */
    padding: 20px;
    text-align: justify;
    font-family: "Lobster Two", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.textos {
    color: #000000; /* Texto blanco */
    padding: 20px;
    text-align: justify;
    font-family: "Lobster Two", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.textos2 {
    color: #000000; /* Texto blanco */
    padding: 20px;
    text-align: center;
    font-family: "Lobster Two", sans-serif;
    font-weight: 200;
    font-style: normal;
    display: flex;
}
.container {
    display: flex;
}

.column {
    flex: 1;
    text-align: justify;
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
}
.column2 {
    flex: 1;
    text-align: justify;
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    padding-left: 30%;
}
.column3 {
    flex: 1;
    text-align: justify;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
}
.column4 {
    flex: 1;
}

.card2{
    flex: 1;
}
.contenedor-flex {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
.contenedor-flex2 {
    display: flex;
  }
.contenedor-flex3 {
    display: flex;
    padding-left: 10%;
  }
.contenedor-flex4 {
    display: flex;
    padding-right: 15%;
  }
.imagenes{
    width: 25%;

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    padding: 20px;
    text-align: justify;
}

footer p, footer a {
    margin: 5px;
}

footer img {
    width: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: auto; /* Ajusta la altura automáticamente */
}

