<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum Iker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estils.css">
    <link rel="shortcut icon" href="../img/logo.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
                <nav class="navbar bg-body-tertiary">
                    <div class="container">
                      <a class="navbar-brand" href="#">
                        <img src="../img/logo.png" alt="Bootstrap" width="30" height="24">
                      </a>
                    </div>
                  </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../view/estudis.html">Estudios</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="../view/experiencia.html">Experiencia</a>
                    </li>    
                  </ul>
                  <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Busca</button>
                  </form>
                </div>
              </div>
            </nav>
          </nav>
    </header>
<div class="titulo">
<h1>Experiencia</h1>
</div>
<div class="container">
  <div class="column3">
  <h1>Mi Experiencia en Prácticas de Informática</h1>
  <p>Estas son algunas de las vivencias que tuve durante mis prácticas en el colegio Balaguer:</p>
  <ul>
      <li>Conocí a los estudiantes y me presenté como su profesora.</li>
      <li>Aprendi conceptos básicos de mantenimiento y diseño web.</li>
      <li>Ayudé a resolver dudas y problemas técnicos de los alumnos cuando tenian dudas.</li>
      <li>Participé en la creación de varios posters para el colegio.</li>
      <li>Colaboré con otros docentes en proyectos interdisciplinarios.</li>
  </ul>
  <p>Esta siendo una experiencia enriquecedora que me permite aplicar mis conocimientos y aprender mucho sobre el mantenimiento y la tecnología.</p>
  </div>
</div>
<div class="container">
    <img src="../img/cole.jpg" alt="escola balaguer" class="column4">
  </div>
</div>
<footer>
    <p>Selecciona un idioma:</p>
    <a href="./experiencia.html"><img src="../img/esp.png" alt=""></a>
    <p>Español</p>
    <a href="./en/experience.html"><img src="../img/eng.jpg" alt=""></a>
    <p>Ingles</p>
</footer>
</body>
</html>